svg(
    width="100%"
    height="100%"
    graph-scales="{\
        x: ['linear', -graphmax, graphmax],\
        y: ['linear', -graphmax, graphmax]\
    }"
)
    line.link(
        ng-repeat="link in chartData.links"
        ng-attr-style="stroke-width: {{ sqrt(link.value) }};"
        from="[$scales.x(link.source.x), $scales.y(link.source.y)]"
        to="[$scales.x(link.target.x), $scales.y(link.target.y)]"
    )
    circle.node(
        ng-repeat="node in chartData.nodes"
        ng-attr-style="fill: {{ color(node.group) }};"
        center="[$scales.x(node.x), $scales.y(node.y)]"
        r=5
    )
        title {{ node.name }}
