svg.chart.chart-bar(
    width='100%'
    height='100%'
    graph-scales="{\
        x: ['linear', $chartOptions.range.x.min, $chartOptions.range.x.max],\
        y: ['linear', $chartOptions.range.y.max, $chartOptions.range.y.min],\
    }"
    shape-rendering="geometricPrecision"
)
    g.decor
    g.graph
        path.line(
            draw-path=" chartData | path:$chartOptions:$scales.x:$scales.y "
        )
        g.point(
            ng-repeat="point in chartData"
            scatter-point="[\
                $scales.x($chartOptions.x(point)),\
                $scales.y($chartOptions.y(point)) \
            ]"
        )
            circle( cx=0, cy=0, r=4 )
