svg(
    width="300px"
    height="300px"
    style="display: block; margin: 0 auto"
    shape-rendering="geometricPrecision"
    graph-scales="{\
        x: ['linear', -1, 1],\
        y: ['linear', -0.5, 1.5]\
    }"
)
    line(
        ng-repeat-start="anchor in string.anchors"
        ng-if="$index > 0"
        from="$scales(string.anchors[$index - 1].array())"
        to="$scales(anchor.array())"
        stroke="purple"
        stroke-width="4px"
    )
    vector(
        ng-if="$index > 0 && $index < string.anchors.length - 1"
        start="{{$scales(anchor.array())}}"
        end="{{$scales(anchor.load.array())}}"
        color="blue"
        ng-repeat-end
    )
