demo(title="Tension Demo")
    svg(
        width="200px"
        height="200px"
        ng-controller="TensionCtrl"
        shape-rendering="geometricPrecision"
        graph-scales="{\
            x: ['linear', -0.5, 1.5],\
            y: ['linear', -0.5, 1.5]\
        }"
    )
        line(
            ng-repeat-start="anchor in string.anchors"
            ng-if="$index > 0"
            from="$scales(string.anchors[$index - 1].array())"
            to="$scales(anchor.array())"
            stroke="purple"
            stroke-width="2px"
        )
        vector(
            ng-if="$index > 0 && $index < string.anchors.length - 1"
            start="{{$scales(anchor.array())}}"
            end="{{$scales(anchor.load.array())}}"
            color="blue"
            ng-repeat-end
        )
    
