svg
    g.axis.x(
        style="transform: translateY({{$scales.y($chartOptions.range.y.min)}}px)"
    )
        path(
            draw-path="'M'+$scales.x($chartOptions.range.x.min)+',0L' + $scales.x($chartOptions.range.x.max) + ',0'"
        )
        g.tick(
            ng-repeat="tick in $ticks.x"
            style="transform: translateX({{$scales.x(tick)}}px)"
        )
            path(d="M0,0L0,5")
            text( at="[ -20, 20]" ) {{ tick | chooseFilter:$format.x.type:$format.x.args }}
    g.axis.y(
        style="transform: translateX({{$scales.x($chartOptions.range.x.min)}}px)"
    )
        path(
            draw-path="'M0,' + $scales.y($chartOptions.range.y.min) + 'L0,' + $scales.y($chartOptions.range.y.max)"
        )
        g.tick(
            ng-repeat="tick in $ticks.y"
            style="transform: translateY({{$scales.y(tick)}}px)"
        )
            path( d="M0,0L-5,0" )
            text( at="[ -35, 5 ]" ) {{ tick | chooseFilter:$format.y.type:$format.y.args }}
